<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{fragments/config :: ConfigFragment}"></head>

<body>
    <div th:replace="~{fragments/sidebar :: SidebarFragment}"></div>

    <div class="wrapper d-flex flex-column min-vh-100 bg-light">
        <header th:replace="~{fragments/header :: HeaderFragment}"></header>
        <div layout:fragment="Content"></div>
        <footer th:replace="~{fragments/footer :: FooterFragment}"></footer>
    </div>

    <!-- 각 페이지의 스크립트가 작성될 위치 -->
    <th:block layout:fragment="script"></th:block>
</body>

</html>