<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.admin.domain.admin.repository.mybatis.AdminMapper">

    <sql id="searchCond">
        <if test="search.adminId != null and search.adminId != ''">
            AND ADMIN_ID = #{search.adminId}
        </if>
        <if test="search.adminStatus != null">
            AND ADMIN_STATUS = #{search.adminStatus}
        </if>
        <if test="search.adminAuth != null">
            AND ADMIN_AUTH = #{search.adminAuth}
        </if>
    </sql>

    <select id="count" resultType="Integer">
        SELECT  COUNT(*)
        FROM    ADMIN
        <where>
            <include refid="searchCond"></include>
        </where>
    </select>

    <select id="findAll" resultType="Admin">
        SELECT  ADMIN_NO, ADMIN_ID, ADMIN_PWD, ADMIN_AUTH, ADMIN_STATUS, FAIL_CNT, LOGIN_DT, PWD_DT, REG_DT, MOD_DT
        FROM    ADMIN
        <where>
            <include refid="searchCond"></include>
        </where>
        ORDER BY ADMIN_NO DESC
        <if test="page != null">
            LIMIT #{page.startNo}, #{page.recordCount}
        </if>
    </select>

    <select id="findByAdminNo" resultType="Admin">
        SELECT  ADMIN_NO, ADMIN_ID, ADMIN_PWD, ADMIN_AUTH, ADMIN_STATUS, FAIL_CNT, LOGIN_DT, PWD_DT, REG_DT, MOD_DT
        FROM    ADMIN
        WHERE   ADMIN_NO = #{adminNo}
    </select>

    <select id="findByAdminId" resultType="Admin">
        SELECT  ADMIN_NO, ADMIN_ID, ADMIN_PWD, ADMIN_AUTH, ADMIN_STATUS, FAIL_CNT, LOGIN_DT, PWD_DT, REG_DT, MOD_DT
        FROM    ADMIN
        WHERE   ADMIN_ID = #{adminId}
    </select>

    <insert id="save" useGeneratedKeys="true" keyColumn="admin_no" keyProperty="adminNo">
        INSERT INTO ADMIN (ADMIN_ID, ADMIN_PWD, ADMIN_AUTH, ADMIN_STATUS, FAIL_CNT, LOGIN_DT, PWD_DT, REG_DT, MOD_DT)
        VALUES (#{adminId}, #{adminPwd}, #{adminAuth}, #{adminStatus}, 0, NULL, NULL, NOW(), NOW())
    </insert>

    <update id="update">
        UPDATE ADMIN
        SET ADMIN_AUTH = #{admin.adminAuth},
            ADMIN_STATUS = #{admin.adminStatus},
            <if test="admin.adminPwd != null and admin.adminPwd != ''">
                ADMIN_PWD = #{admin.adminPwd},
                PWD_DT = NOW(),
            </if>
            MOD_DT = NOW()
        WHERE ADMIN_NO = #{adminNo}
    </update>

    <update id="updateLoginDt">
        UPDATE ADMIN
        SET LOGIN_DT = NOW(),
            MOD_DT = NOW()
        WHERE ADMIN_NO = #{adminNo}
    </update>

    <update id="updateFailCnt">
        UPDATE ADMIN
        SET MOD_DT = NOW(),
        <choose>
            <when test="count != null and count > 0">
                FAIL_CNT = FAIL_CNT + #{count}
            </when>
            <otherwise>
                FAIL_CNT = 0
            </otherwise>
        </choose>
        WHERE ADMIN_NO = #{adminNo}
    </update>

    <update id="updateByLogin">
        UPDATE ADMIN
        SET LOGIN_DT = NOW(),
            FAIL_CNT = 0,
            MOD_DT = NOW()
        WHERE ADMIN_NO = #{adminNo}
    </update>

</mapper>