<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.domain.admin.repository.mybatis.AdminMapper">

    <select id="findByLoginId" resultType="Admin">
        SELECT  ADMIN_NO, ADMIN_ID, ADMIN_PWD, ADMIN_AUTH, ADMIN_STATUS, FAIL_CNT, LOGIN_DT, PWD_DT, REG_DT, MOD_DT
        FROM    ADMIN
        WHERE   ADMIN_ID = #{adminId}
    </select>

    <insert id="save" useGeneratedKeys="true" keyColumn="admin_no" keyProperty="adminNo">
        INSERT INTO ADMIN (ADMIN_ID, ADMIN_PWD, ADMIN_AUTH, ADMIN_STATUS, FAIL_CNT, LOGIN_DT, PWD_DT, REG_DT, MOD_DT)
        VALUES (#{adminId}, #{adminPwd}, #{adminAuth}, #{adminStatus}, 0, NULL, NULL, NOW(), NOW())
    </insert>

</mapper>