<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="ConfigFragment">
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!-- <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template"> -->
    <!-- <meta name="author" content="Łukasz Holeczek"> -->
    <!-- <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard"> -->
    <title>현실에서 한 발자국</title>
    <link rel="apple-touch-icon" sizes="57x57" th:href="@{/coreui/assets/favicon/apple-icon-57x57.png}">
    <link rel="apple-touch-icon" sizes="60x60" th:href="@{/coreui/assets/favicon/apple-icon-60x60.png}">
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/coreui/assets/favicon/apple-icon-72x72.png}">
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/coreui/assets/favicon/apple-icon-76x76.png}">
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{/coreui/assets/favicon/apple-icon-114x114.png}">
    <link rel="apple-touch-icon" sizes="120x120" th:href="@{/coreui/assets/favicon/apple-icon-120x120.png}">
    <link rel="apple-touch-icon" sizes="144x144" th:href="@{/coreui/assets/favicon/apple-icon-144x144.png}">
    <link rel="apple-touch-icon" sizes="152x152" th:href="@{/coreui/assets/favicon/apple-icon-152x152.png}">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/coreui/assets/favicon/apple-icon-180x180.png}">
    <link rel="icon" type="image/png" sizes="192x192" th:href="@{/coreui/assets/favicon/android-icon-192x192.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/coreui/assets/favicon/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="96x96" th:href="@{/coreui/assets/favicon/favicon-96x96.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/coreui/assets/favicon/favicon-16x16.png}">
    <link rel="manifest" th:href="@{/coreui/assets/favicon/manifest.json}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/coreui/assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendors styles-->
    <link rel="stylesheet" th:href="@{/coreui/vendors/simplebar/css/simplebar.css}">
    <link rel="stylesheet" th:href="@{/coreui/css/vendors/simplebar.css}">
    <!-- Main styles for this application-->
    <link th:href="@{/coreui/css/style.css}" rel="stylesheet">
    <link th:href="@{/coreui/vendors/@coreui/icons/css/free.min.css}" rel="stylesheet">
    <!-- We use those styles to show code examples, you should remove them in your application.-->
    <!--  <link th:href="@{/coreui/css/examples.css}" rel="stylesheet"> -->
    <!--  <link th:href="@{/coreui/vendors/@coreui/chartjs/css/coreui-chartjs.css}" rel="stylesheet"> -->

    <!-- CoreUI and necessary plugins-->
    <script defer="defer" th:src="@{/coreui/vendors/@coreui/coreui/js/coreui.bundle.min.js}"></script>
    <script defer="defer" th:src="@{/coreui/vendors/simplebar/js/simplebar.min.js}"></script>
    <!-- Plugins and scripts required by this view -->
    <!-- <script defer="defer" src="/coreui/vendors/chart.js/js/chart.min.js"></script> -->
    <!-- <script defer="defer" src="/coreui/vendors/@coreui/chartjs/js/coreui-chartjs.js"></script> -->
    <script defer="defer" th:src="@{/coreui/vendors/@coreui/utils/js/coreui-utils.js}"></script>
    <!-- <script defer="defer" src="/coreui/js/main.js"></script> -->

    <!-- 각 페이지의 css가 작성될 위치 -->
    <th:block layout:fragment="css"></th:block>

    <!-- 공통 js 추가 -->
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
</head>
</html>