<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="css">
</th:block>

<div layout:fragment="Content" class="body flex-grow-1 px-3">
    <div class="container-fluid">
        <!-- 검색 영역 start -->
        <div class="card mb-4">
            <div class="card-header"><i class="icon icon-2xl cil-check-alt"></i><span class="small ms-1">검색 폼</span></div>
            <div class="card-body">
                <form>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="searchVal1">아이디:</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="searchVal1" autocomplete="off" placeholder="아이디를 입력해주세요.">
                        </div>
                        <label class="col-sm-2 col-form-label" for="searchVal2">이름:</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="searchVal2" autocomplete="off" placeholder="이름을 입력해주세요.">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="searchVal3">가격:</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input class="form-control" id="searchVal3" type="text" placeholder="숫자를 입력해주세요." aria-describedby="basic-addon2">
                                <span class="input-group-text" id="basic-addon2">원</span>
                            </div>
                        </div>
                        <label class="col-sm-2 col-form-label" for="selectVal">유형1:</label>
                        <div class="col-sm-4">
                            <select class="form-select" id="selectVal">
                                <option selected="">유형을 선택해주세요.</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">유형2:</label>
                        <div class="col-sm-4">
                            <div class="form-check form-check-inline mt-2">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                <label class="form-check-label" for="inlineCheckbox1">1</label>
                            </div>
                            <div class="form-check form-check-inline mt-2">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                <label class="form-check-label" for="inlineCheckbox2">2</label>
                            </div>
                            <div class="form-check form-check-inline mt-2">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled>
                                <label class="form-check-label" for="inlineCheckbox3">3 (disabled)</label>
                            </div>
                        </div>
                        <label class="col-sm-2 col-form-label">유형3:</label>
                        <div class="col-sm-4">
                            <div class="form-check form-check-inline mt-2">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                <label class="form-check-label" for="inlineRadio1">1</label>
                            </div>
                            <div class="form-check form-check-inline mt-2">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                <label class="form-check-label" for="inlineRadio2">2</label>
                            </div>
                            <div class="form-check form-check-inline mt-2">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled>
                                <label class="form-check-label" for="inlineRadio3">3 (disabled)</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-grid gap-2 d-md-flex justify-content-lg-center">
                    <button class="btn btn-success me-md-2" style="color: white" type="button"><i class="icon icon-2xl cil-spreadsheet"></i> 엑셀다운로드</button>
                    <button class="btn btn-info" style="color: white" type="button"><i class="icon icon-2xl cil-zoom"></i> 검색하기</button>
                </div>
            </div>
        </div>
        <!-- // 검색 영역 end -->

        <div class="d-grid gap-2 d-md-flex justify-content-lg-end mb-3">
            <button class="btn btn-danger me-md-1" style="color: white" type="button">선택삭제</button>
            <button class="btn btn-info" style="color: white" type="button" onclick="window.location.href='/?pageMode=detail'">등록하기</button>
        </div>

        <!-- 검색 결과 영역 start -->
        <div class="card mb-4">
            <div class="card-header"><i class="icon icon-2xl cil-check-alt"></i><span class="small ms-1">검색 결과: </span><strong>2,024</strong>건</div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-center align-middle">
                        <thead>
                        <tr style="background-color: #f5f5f5">
                            <th scope="col">
                                <input class="form-check-input" type="checkbox" value="" id="chkAll">
                                <label class="form-check-label" for="chkAll"></label>
                            </th>
                            <th scope="col">No.</th>
                            <th scope="col">제목</th>
                            <th scope="col">내용</th>
                            <th scope="col">조회수</th>
                            <th scope="col">등록일</th>
                            <th scope="col">상태</th>
                            <th scope="col">삭제 / 더보기</th>
                            <th scope="col">상세 보기</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="chkEle1">
                                <label class="form-check-label" for="chkEle1"></label>
                            </td>
                            <td>1</td>
                            <td>제목입니다.</td>
                            <td>내용1입니다.</td>
                            <td>내용2입니다.</td>
                            <td>2024-01-01 00:00:00</td>
                            <td>
                                <h5><span class="badge me-1 bg-success">정상</span></h5>
                                <!-- <h5><span class="badge me-1 rounded-pill bg-success">정상</span></h5> -->
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger"><span class="cil-trash" style="color: white;"></span></button>
                                <button type="button" class="btn btn-success"><span class="cil-search" style="color: white;"></span></button>
                            </td>
                            <td>
                                <div class="d-grid gap-2">
                                    <button class="btn btn-outline-info" type="button" onclick="window.location.href='/?pageMode=detail'">상세 보기</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="chkEle2">
                                <label class="form-check-label" for="chkEle2"></label>
                            </td>
                            <td>2</td>
                            <td>제목입니다.</td>
                            <td>내용1입니다.</td>
                            <td>내용2입니다.</td>
                            <td>2024-01-01 00:00:00</td>
                            <td>
                                <h5><span class="badge me-1 bg-danger">중지</span></h5>
                                <!-- <h5><span class="badge me-1 rounded-pill bg-danger">중지</span></h5> -->
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger"><span class="cil-trash" style="color: white;"></span></button>
                                <button type="button" class="btn btn-success"><span class="cil-search" style="color: white;"></span></button>
                            </td>
                            <td>
                                <div class="d-grid gap-2">
                                    <button class="btn btn-outline-info" type="button" onclick="window.location.href='/?pageMode=detail'">상세 보기</button>
                                </div>
                            </td>
                         </tr>
                         <tr>
                             <td>
                                 <input class="form-check-input" type="checkbox" value="" id="chkEle3">
                                 <label class="form-check-label" for="chkEle3"></label>
                             </td>
                             <td>3</td>
                             <td>제목입니다.</td>
                             <td>내용1입니다.</td>
                             <td>내용2입니다.</td>
                             <td>2024-01-01 00:00:00</td>
                             <td>
                                 <h5><span class="badge me-1 bg-warning">휴면</span></h5>
                                 <!-- <h5><span class="badge me-1 rounded-pill bg-warning">휴면</span></h5> -->
                             </td>
                             <td>
                                 <button type="button" class="btn btn-danger"><span class="cil-trash" style="color: white;"></span></button>
                                 <button type="button" class="btn btn-success"><span class="cil-search" style="color: white;"></span></button>
                             </td>
                             <td>
                                 <div class="d-grid gap-2">
                                     <button class="btn btn-outline-info" type="button" onclick="window.location.href='/?pageMode=detail'">상세 보기</button>
                                 </div>
                             </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" value="" id="chkEle4">
                                <label class="form-check-label" for="chkEle4"></label>
                            </td>
                            <td>4</td>
                            <td>제목입니다.</td>
                            <td>내용1입니다.</td>
                            <td>내용2입니다.</td>
                            <td>2024-01-01 00:00:00</td>
                            <td>
                                <h5><span class="badge me-1 bg-secondary">잠금</span></h5>
                                <!-- <h5><span class="badge me-1 rounded-pill bg-secondary">잠금</span></h5> -->
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger"><span class="cil-trash" style="color: white;"></span></button>
                                <button type="button" class="btn btn-success"><span class="cil-search" style="color: white;"></span></button>
                            </td>
                            <td>
                                <div class="d-grid gap-2">
                                    <button class="btn btn-outline-info" type="button" onclick="window.location.href='/?pageMode=detail'">상세 보기</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="9">조회된 데이터가 없습니다.</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <nav class="mt-3" style="overflow-x: auto;-webkit-overflow-scrolling: touch;">
                    <ul class="pagination justify-content-lg-center">
                        <li class="page-item disabled">
                            <a class="page-link">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="/">1</a></li>
                        <li class="page-item"><a class="page-link" href="/">2</a></li>
                        <li class="page-item"><a class="page-link" href="/">3</a></li>
                        <li class="page-item"><a class="page-link" href="/">4</a></li>
                        <li class="page-item"><a class="page-link" href="/">5</a></li>
                        <li class="page-item"><a class="page-link" href="/">6</a></li>
                        <li class="page-item"><a class="page-link" href="/">7</a></li>
                        <li class="page-item"><a class="page-link" href="/">8</a></li>
                        <li class="page-item"><a class="page-link" href="/">9</a></li>
                        <li class="page-item"><a class="page-link" href="/">10</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- // 검색 결과 영역 end -->
    </div>
</div>

<th:block layout:fragment="script">
</th:block>

</html>