<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="css">
</th:block>

<div layout:fragment="Content" class="body flex-grow-1 px-3">
    <div class="container-fluid">
        <div class="card mb-4">
            <div class="card-header"><i class="icon icon-2xl cil-check-alt"></i><span class="small ms-1">등록/수정 폼</span></div>
            <div class="card-body">
                <form>
                    <div class="row mb-3">
                        <label for="staticNo" class="col-sm-2 col-form-label"><span style="color: red">*</span> 회원번호:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control-plaintext" id="staticNo" value="123456" readonly>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="userId"><span style="color: red">*</span> 아이디:</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="userId" autocomplete="off" placeholder="아이디를 입력해주세요.">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="password"><span style="color: red">*</span> 비밀번호:</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="password" placeholder="비밀번호를 입력해주세요.">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="price"><span style="color: red">*</span> 가격:</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input class="form-control" id="price" type="text" placeholder="숫자를 입력해주세요." aria-describedby="basic-addon2">
                                <span class="input-group-text" id="basic-addon2">원</span>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="searchType"><span style="color: red">*</span> 유형1:</label>
                        <div class="col-sm-4">
                            <select class="form-select" id="searchType">
                                <option selected="">유형을 선택해주세요.</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label"><span style="color: red">*</span> 유형2:</label>
                        <div class="col-sm-4">
                            <div class="form-check form-check-inline mt-2">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                <label class="form-check-label" for="inlineCheckbox1">1</label>
                            </div>
                            <div class="form-check form-check-inline mt-2">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                <label class="form-check-label" for="inlineCheckbox2">2</label>
                            </div>
                            <div class="form-check form-check-inline mt-2">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled>
                                <label class="form-check-label" for="inlineCheckbox3">3 (disabled)</label>
                            </div>
                        </div>
                        <label class="col-sm-2 col-form-label">유형3:</label>
                        <div class="col-sm-4">
                            <div class="form-check form-check-inline mt-2">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                <label class="form-check-label" for="inlineRadio1">1</label>
                            </div>
                            <div class="form-check form-check-inline mt-2">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                <label class="form-check-label" for="inlineRadio2">2</label>
                            </div>
                            <div class="form-check form-check-inline mt-2">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled>
                                <label class="form-check-label" for="inlineRadio3">3 (disabled)</label>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="textareaVal">내용:</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="textareaVal" rows="5"></textarea>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="formFile">파일 업로드:</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="file" id="formFile">
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-grid gap-2 d-md-flex justify-content-lg-center">
                    <button type="button" class="btn btn-info" style="color: white">저장하기</button>
                    <button type="button" class="btn btn-outline-dark" onclick="window.location.href='/'">목록보기</button>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
</th:block>

</html>