/**
 - Reference: https://corianderman.tistory.com/2
*/
label.demo-toggle {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 30px;
    top: 2px;
    background: #d3d3d3;
    border-radius: 60px;
    transition: background 0.4s;
}
label.demo-toggle::after {
    content: "";
    position: absolute;
    left: 3px;
    top: 50%;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #fff;
    transform: translateY(-50%);
    box-shadow: 1px 3px 4px rgba(0,0,0,0.1);
    transition: all 0.4s;
}
label.demo-toggle::before {
    content: "OFF";
    font-size: 13px;
    color: #4f5d73;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 42px;
    top: 52%;
    transform: translateY(-50%);
    transition: all 0.4s;
}
.demo-chk {
    display: none;
}
.demo-chk:checked + label.demo-toggle::after {
    left: calc(100% - 28px);
}
.demo-chk:checked + label.demo-toggle::before {
    content: "ON";
    color: #fff;
    left: 15px;
}
.demo-chk:checked + label.demo-toggle {
    background: #2eb85c;
}