<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/config :: ConfigFragment}"></head>
<body>
<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="clearfix">
                    <h4>처리 중 오류가 발생했습니다. ( [[${status}]] )</h4>
                    <p class="text-medium-emphasis">서비스 이용에 불편을 드려 대단히 죄송합니다.</p>
                    <div class="d-grid gap-2">
                        <button class="btn btn-secondary" type="button" th:onclick="|window.location.href='@{/}'|">메인 페이지로 바로가기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>