<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="css">
</th:block>

<div layout:fragment="Content" class="body flex-grow-1 px-3">
    <div class="container-fluid">
        <!-- 검색 영역 start -->
        <div class="card mb-4">
            <div class="card-header"><i class="icon icon-2xl cil-check-alt"></i><span class="small ms-1">검색 폼</span></div>
            <div class="card-body">
                <form method="GET" th:action id="searchForm" name="searchForm">
                    <input type="hidden" name="pageNo" th:value="${searchDto.pageNo}" />
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="title">제목:</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="title" name="title" th:value="${searchDto.title}"
                                   autocomplete="off" maxlength="50" placeholder="제목을 입력해 주세요.">
                        </div>
                        <label class="col-sm-2 col-form-label" for="noticeType">공지 유형:</label>
                        <div class="col-sm-4">
                            <select class="form-select" id="noticeType" name="noticeType">
                                <option value="">전체</option>
                                <option th:each="noticeType : ${T(com.example.demo.admin.domain.customer.define.NoticeType).values()}"
                                        th:value="${noticeType}"
                                        th:text="${noticeType.title}"
                                        th:selected="${noticeType eq searchDto.noticeType}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="displayYn">노출 여부:</label>
                        <div class="col-sm-4">
                            <select class="form-select" id="displayYn" name="displayYn">
                                <option value="">전체</option>
                                <option value="Y" th:selected="${searchDto.displayYn eq 'Y'}">노출</option>
                                <option value="N" th:selected="${searchDto.displayYn eq 'N'}">비노출</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-grid gap-2 d-md-flex justify-content-lg-center">
                    <button id="btnSearch" class="btn btn-info" style="color: white" type="button"><i class="icon icon-2xl cil-zoom"></i> 검색하기</button>
                </div>
            </div>
        </div>
        <!-- // 검색 영역 end -->

        <div class="d-grid gap-2 d-md-flex justify-content-lg-end mb-3">
            <button class="btn btn-danger me-md-1" style="color: white" type="button" id="btnRemove">선택삭제</button>
            <button class="btn btn-info" style="color: white" type="button" id="btnAddForm">등록하기</button>
        </div>

        <!-- 검색 결과 영역 start -->
        <div class="card mb-4">
            <div class="card-header">
                <i class="icon icon-2xl cil-check-alt"></i>
                <span class="small ms-1">검색 결과: </span><strong th:text="${#numbers.formatInteger(totalCount, 0, 'COMMA')}"></strong>건
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-center align-middle">
                        <thead>
                        <tr style="background-color: #f5f5f5">
                            <th scope="col">
                                <input class="form-check-input" type="checkbox" id="chkAll">
                                <label class="form-check-label" for="chkAll"></label>
                            </th>
                            <th scope="col">공지 유형</th>
                            <th scope="col">제목</th>
                            <th scope="col">노출 여부</th>
                            <th scope="col">등록일</th>
                            <th scope="col">상세 보기</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:if="${noticeList.size() gt 0}">
                            <tr th:each="notice, noticeStat : ${noticeList}">
                                <td>
                                    <input class="form-check-input" type="checkbox" value="" name="chkEle" th:data-notice-no="${notice.noticeNo}" th:id="|${'chkEle' + noticeStat.count}|">
                                    <label class="form-check-label" th:for="|${'chkEle' + noticeStat.count}|"></label>
                                </td>
                                <td th:text="${notice.noticeType.title}"></td>
                                <td th:text="${notice.title}"></td>
                                <td>
                                    <input type="checkbox" class="demo-chk" th:id="|${'chk1' + noticeStat.count}|"
                                           th:data-notice-no="${notice.noticeNo}"
                                           th:data-display-yn="${notice.displayYn}"
                                           th:checked="${notice.displayYn eq 'Y'}"/>
                                    <label class="demo-toggle" th:for="|${'chk1' + noticeStat.count}|"></label>
                                </td>
                                <td th:text="${{notice.regDt}}"></td>
                                <td>
                                    <div class="d-grid gap-2">
                                        <button class="btn btn-outline-info" type="button"
                                                th:onclick="|location.href='@{/customer/notices/{noticeNo}(noticeNo=${notice.noticeNo})}'|">상세 보기</button>
                                    </div>
                                </td>
                            </tr>
                        </th:block>
                        <th:block th:unless="${noticeList.size() gt 0}">
                            <tr>
                                <td colspan="6">조회된 데이터가 없습니다.</td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>

                <nav id="pageArea" th:if="${paginationDto.totalPageCount > 0}" class="mt-3" style="overflow-x: auto;-webkit-overflow-scrolling: touch;">
                    <ul class="pagination justify-content-lg-center">
                        <li class="page-item" th:classappend="${!paginationDto.hasPreviousPage ? 'disabled' : ''}">
                            <a href="javascript:void(0);" class="page-link" th:data-page-no="${1}">&laquo;</a>
                        </li>
                        <li class="page-item" th:if="${paginationDto.firstPage > 1}">
                            <a href="javascript:void(0);" class="page-link" th:data-page-no="${paginationDto.firstPage - 1}">&lt;</a>
                        </li>
                        <th:block th:if="${paginationDto.firstPage > 0}">
                            <li class="page-item" th:each="page: ${#numbers.sequence(paginationDto.firstPage, paginationDto.lastPage)}">
                                <a href="javascript:void(0);" class="page-link" th:data-page-no="${page}"
                                   th:text="${page}" th:classappend="${paginationDto.pageNo == page} ? 'active' : ''"></a>
                            </li>
                        </th:block>
                        <li class="page-item" th:if="${paginationDto.lastPage != paginationDto.totalPageCount}">
                            <a href="javascript:void(0);" class="page-link" th:data-page-no="${paginationDto.lastPage + 1}">&gt;</a>
                        </li>
                        <li class="page-item" th:classappend="${!paginationDto.hasNextPage ? 'disabled' : ''}">
                            <a href="javascript:void(0);" class="page-link" th:data-page-no="${paginationDto.totalPageCount}">&raquo;</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- // 검색 결과 영역 end -->
    </div>

    <!-- 삭제 대상 게시글 번호 set -->
    <form id="removeForm" name="removeForm" method="POST" th:action="@{/customer/notices/remove}" style="display: none;">
        <input type="hidden" id="searchParams" name="searchParams" value="">
        <input type="hidden" id="noticeNos" name="noticeNos" value="">
    </form>
    <!-- // 삭제 대상 게시글 번호 set -->
</div>

<th:block layout:fragment="script">
    <script defer="defer" th:src="@{/js/customer/notice-list.js}"></script>
</th:block>

</html>