<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="css">
</th:block>

<div layout:fragment="Content" class="body flex-grow-1 px-3">
    <div class="container-fluid">
        <div class="card mb-4">
            <div class="card-header"><i class="icon icon-2xl cil-check-alt"></i><span class="small ms-1">수정 폼</span></div>
            <div class="card-body">
                <form id="editForm" name="editForm" method="POST" th:action th:object="${noticeEditDto}" enctype="multipart/form-data">
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="title"><span style="color: red">*</span> 제목:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="title" maxlength="100"
                                   th:field="*{title}" th:errorclass="is-invalid"
                                   placeholder="제목을 입력해 주세요." autocomplete="off">
                            <div th:errors="*{title}" class="invalid-feedback"></div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="contents"><span style="color: red">*</span> 내용:</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="contents" rows="5"
                                      th:field="*{contents}" th:errorclass="is-invalid"
                                      placeholder="내용을 입력해 주세요." autocomplete="off"></textarea>
                            <div th:errors="*{contents}" class="invalid-feedback"></div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="noticeType"><span style="color: red">*</span> 공지 유형:</label>
                        <div class="col-sm-4">
                            <select class="form-select" id="noticeType" th:field="*{noticeType}" th:errorclass="is-invalid">
                                <option value="">유형을 선택해 주세요.</option>
                                <option th:each="noticeType : ${T(com.example.demo.admin.domain.customer.define.NoticeType).values()}"
                                        th:value="${noticeType}"
                                        th:text="${noticeType.title}"></option>
                            </select>
                            <div th:errors="*{noticeType}" class="invalid-feedback"></div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="uploadFiles"><span style="color: black">*</span> 파일 업로드:</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="file" id="uploadFiles" name="uploadFiles" multiple>
                        </div>
                        <div class="col-sm-6">
                            <button id="btnFilePolicy" class="btn btn-outline-info" type="button"
                                    data-coreui-container="body"
                                    data-coreui-toggle="popover"
                                    data-coreui-placement="top"
                                    data-coreui-content="1) 첨부 가능한 파일 개수는 최대 3개 까지 가능합니다. 2) 첨부파일 용량은 최대 1MB까지 가능합니다. 3) 첨부 가능한 확장자는 ['pdf', 'xls', 'xlsx', 'jpg', 'jpeg', 'png'] 입니다."
                                    data-coreui-original-title="첨부파일 정책"
                                    title="">첨부파일 정책 보기</button>
                        </div>
                    </div>

                    <div class="row mb-3" th:if="${noticeFiles.size() gt 0}">
                        <label class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <th:block th:each="noticeFile, noticeFileStat : ${noticeFiles}">
                                <button type="button" class="btn btn-light btnDownload"
                                        th:data-notice-no="__${noticeNo}__"
                                        th:data-notice-file-no="${noticeFile.noticeFileNo}"
                                        th:text="${noticeFile.orgFileName}">
                                </button>
                                <button type="button" class="btn btn-danger btnRemove"
                                        th:data-notice-no="__${noticeNo}__"
                                        th:data-notice-file-no="${noticeFile.noticeFileNo}">
                                    <span class="cil-trash" style="color: white;"></span>
                                </button>
                            </th:block>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label"><span style="color: red">*</span> 노출 여부:</label>
                        <div class="col-sm-4">
                            <div class="form-check form-check-inline mt-2">
                                <input class="form-check-input" type="radio" value="Y"
                                       th:field="*{displayYn}" th:errorclass="is-invalid">
                                <label class="form-check-label" th:for="${#ids.prev('displayYn')}">노출</label>
                            </div>
                            <div class="form-check form-check-inline mt-2">
                                <input class="form-check-input" type="radio" value="N"
                                       th:field="*{displayYn}" th:errorclass="is-invalid">
                                <label class="form-check-label" th:for="${#ids.prev('displayYn')}">비노출</label>
                            </div>
                            <div class="is-invalid" style="display: none;"></div>
                            <div th:errors="*{displayYn}" class="invalid-feedback"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-grid gap-2 d-md-flex justify-content-lg-end">
                    <button type="button" class="btn btn-info" id="btnEdit" style="color: white">저장</button>
                    <button type="button" class="btn btn-outline-dark"
                            th:onclick="|location.href='@{/customer/notices/{noticeNo}(noticeNo=__${noticeNo}__)}'|">취소</button>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script defer="defer" th:src="@{/js/customer/notice-editForm.js}"></script>
</th:block>

</html>