<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="css">
</th:block>

<div layout:fragment="Content" class="body flex-grow-1 px-3">
    <div class="container-fluid">
        <div class="card mb-4">
            <div class="card-header"><i class="icon icon-2xl cil-check-alt"></i><span class="small ms-1">상세보기</span></div>
            <div class="card-body">
                <form th:object="${notice}">
                    <div class="row mb-3">
                        <label for="title" class="col-sm-2 col-form-label"><span style="color: red">*</span> 제목:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="title" th:field="*{title}" disabled>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="contents"><span style="color: red">*</span> 내용:</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="contents" rows="5" th:field="*{contents}" disabled></textarea>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="noticeType"><span style="color: red">*</span> 공지 유형:</label>
                        <div class="col-sm-4">
                            <select class="form-select" id="noticeType" th:field="*{noticeType}" disabled>
                                <option value="">유형을 선택해 주세요.</option>
                                <option th:each="noticeType : ${T(com.example.demo.admin.domain.customer.define.NoticeType).values()}"
                                        th:value="${noticeType}"
                                        th:text="${noticeType.title}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label"><span style="color: black">*</span> 첨부 파일:</label>
                        <div class="col-sm-10" th:if="${noticeFiles.size() gt 0}">
                            <th:block th:each="noticeFile, noticeFileStat : ${noticeFiles}">
                                <button type="button" class="btn btn-light btnDownload"
                                        th:data-notice-no="${notice.noticeNo}"
                                        th:data-notice-file-no="${noticeFile.noticeFileNo}"
                                        th:text="${noticeFile.orgFileName}">
                                </button>
                                <button type="button" class="btn btn-danger btnRemove"
                                        th:data-notice-no="${notice.noticeNo}"
                                        th:data-notice-file-no="${noticeFile.noticeFileNo}">
                                    <span class="cil-trash" style="color: white;"></span>
                                </button>
                            </th:block>
                        </div>
                        <div class="col-sm-10" th:unless="${noticeFiles.size() gt 0}">
                            <input type="text" class="form-control-plaintext" value="등록된 첨부된 파일이 없습니다." readonly>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label"><span style="color: red">*</span> 노출 여부:</label>
                        <div class="col-sm-4">
                            <div class="form-check form-check-inline mt-2">
                                <input class="form-check-input" type="radio" value="Y" th:field="*{displayYn}" disabled>
                                <label class="form-check-label" th:for="${#ids.prev('displayYn')}">노출</label>
                            </div>
                            <div class="form-check form-check-inline mt-2">
                                <input class="form-check-input" type="radio" value="N" th:field="*{displayYn}" disabled>
                                <label class="form-check-label" th:for="${#ids.prev('displayYn')}">비노출</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-grid gap-2 d-md-flex justify-content-lg-end">
                    <button type="button" class="btn btn-info" id="btnEditForm"
                            th:data-notice-no="${notice?.noticeNo}" style="color: white">수정하기</button>
                    <button type="button" class="btn btn-outline-dark"
                            onclick="window.location.href='/customer/notices'">목록보기</button>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script defer="defer" th:src="@{/js/customer/notice-detail.js}"></script>
</th:block>

</html>