<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/config :: ConfigFragment}"></head>
<body>
<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="card-group d-block d-md-flex row">
                    <div class="card col-md-12 p-4 mb-0">
                        <div class="card-body">
                            <form id="loginForm" name="loginForm" th:action method="POST">
                                <h1>관리자 로그인</h1>
                                <p class="text-medium-emphasis">Demo 관리자 사이트에 오신 것을 환영합니다.</p>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">
                                        <svg class="icon">
                                            <use th:attr="'xlink:href'=@{/coreui/dist/vendors/@coreui/icons/svg/free.svg#cil-user}"></use>
                                        </svg>
                                    </span>
                                    <input class="form-control" type="text" name="adminId" placeholder="아이디" autocomplete="off" maxlength="16">
                                </div>
                                <div class="input-group mb-4">
                                    <span class="input-group-text">
                                        <svg class="icon">
                                            <use th:attr="'xlink:href'=@{/coreui/dist/vendors/@coreui/icons/svg/free.svg#cil-lock-locked}"></use>
                                        </svg>
                                    </span>
                                    <input class="form-control" type="password" name="adminPwd" placeholder="비밀번호" maxlength="16">
                                </div>
                                <div class="row">
                                    <div class="col-12 text-end">
                                        <button id="btnLogin" class="btn btn-primary px-4" type="submit">로그인</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>