<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.domain.customer.repository.mybatis.NoticeMapper">

    <sql id="searchCond">
        <if test="search.title != null and search.title != ''">
            AND TITLE LIKE CONCAT('%', #{search.title}, '%')
        </if>
        <if test="search.noticeType != null">
            AND NOTICE_TYPE = #{search.noticeType}
        </if>
        <if test="search.displayYn != null and search.displayYn != ''">
            AND DISPLAY_YN = #{search.displayYn}
        </if>
    </sql>

    <select id="count" resultType="Integer">
        SELECT  COUNT(*)
        FROM    CUSTOMER_NOTICE
        <where>
            <include refid="searchCond"></include>
        </where>
    </select>

    <select id="findAll" resultType="Notice">
        SELECT  NOTICE_NO, TITLE, CONTENTS, NOTICE_TYPE, HITS, DISPLAY_YN, REG_DT, MOD_DT
        FROM    CUSTOMER_NOTICE
        <where>
            <include refid="searchCond"></include>
        </where>
        ORDER BY NOTICE_NO DESC
        <if test="page != null">
            LIMIT #{page.startNo}, #{page.recordCount}
        </if>
    </select>

    <select id="isDuplicate" resultType="boolean">
        SELECT  IF(COUNT(*) > 0, 1, 0)
        FROM    CUSTOMER_NOTICE
        WHERE   TITLE = #{title}
        <if test="noticeNo != null and noticeNo > 0"> <!-- (게시글 수정의 경우) 중복된 게시물 체크시 자기 자신은 제외 -->
            AND NOTICE_NO != ${noticeNo}
        </if>
    </select>

    <select id="findById" resultType="Notice">
        SELECT  NOTICE_NO, TITLE, CONTENTS, NOTICE_TYPE, HITS, DISPLAY_YN, REG_DT, MOD_DT
        FROM    CUSTOMER_NOTICE
        WHERE   NOTICE_NO = #{noticeNo}
    </select>

    <insert id="save" useGeneratedKeys="true" keyColumn="noticeNo" keyProperty="noticeNo">
        INSERT INTO CUSTOMER_NOTICE (TITLE, CONTENTS, NOTICE_TYPE, HITS, DISPLAY_YN, REG_DT, MOD_DT)
        VALUES (#{title}, #{contents}, #{noticeType}, 0, #{displayYn}, NOW(), NOW())
    </insert>

    <update id="update">
        UPDATE CUSTOMER_NOTICE
        SET TITLE = #{notice.title},
            CONTENTS = #{notice.contents},
            NOTICE_TYPE = #{notice.noticeType},
            DISPLAY_YN = #{notice.displayYn},
            MOD_DT = NOW()
        WHERE NOTICE_NO = #{noticeNo}
    </update>

    <delete id="deleteById">
        DELETE FROM CUSTOMER_NOTICE
        WHERE NOTICE_NO = #{noticeNo}
    </delete>

</mapper>